@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  background: black;
  color: white;
  font-family: 'Roboto', sans-serif; }

h4 {
  font-size: 14px; }

/*MENÚ*/
.navbar {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: auto; }
  .navbar .logo img {
    height: 80px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 20px; }
  .navbar .hamburger {
    width: 30px;
    height: auto;
    background: white;
    margin-right: 20px;
    flex-direction: column;
    cursor: pointer; }
    .navbar .hamburger span {
      width: 30px;
      height: 3px;
      background-color: black;
      margin-bottom: 5px; }
  .navbar .menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 100px; }
    .navbar .menu li {
      margin-bottom: 10px; }
      .navbar .menu li a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.4s;
        color: white;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 28px;
        padding: 0 10px 0 48px;
        text-decoration: none; }
        .navbar .menu li a:hover {
          text-decoration: none;
          color: yellow;
          transition: 0.4s; }
      .navbar .menu li .active {
        text-transform: uppercase;
        transition: 0.4s;
        color: yellow;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 28px;
        padding: 0 10px 0 48px;
        text-decoration: none; }

.content {
  padding: 20px; }

/*servicios*/
#servicios .card {
  width: 80%;
  margin-bottom: 20px; }

/*PRODUCTOS*/
.section-header h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 70px; }

.galeria {
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  background-color: black; }
  .galeria .fotos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0 30px; }
    .galeria .fotos .fotos1 {
      display: flex;
      justify-content: center;
      gap: 10px; }
      .galeria .fotos .fotos1 .foto {
        margin: 20px;
        width: 200px;
        height: 200px;
        padding: 10px;
        box-shadow: 0 0 20px yellow;
        transition: .3s; }
        .galeria .fotos .fotos1 .foto:hover {
          transform: scale(1.1); }
    .galeria .fotos .fotos2 {
      display: flex;
      justify-content: center;
      gap: 10px; }
      .galeria .fotos .fotos2 .foto {
        margin: 20px;
        width: 200px;
        height: 200px;
        padding: 10px;
        box-shadow: 0 0 20px yellow;
        transition: .3s; }
        .galeria .fotos .fotos2 .foto:hover {
          transform: scale(1.1); }

/*TERMINA PRODUCTOS*/
/*CAROUSEL*/
.slide {
  margin-top: 10px; }
  .slide .carousel-item img {
    height: auto; }

/*TERMINA CAROUSEL*/
/*NOSOTROS*/
#intro {
  padding-top: 70px; }
  #intro .container .row {
    flex-wrap: nowrap; }
    #intro .container .row .col-sm-12 {
      padding: 0; }
      #intro .container .row .col-sm-12 img {
        max-width: 100%; }

/*TERMINA NOSOTROS*/
/*CONTACTO*/
#contacto .container-fluid {
  padding-top: 70px;
  padding-bottom: 70px; }
  #contacto .container-fluid .section-header {
    padding-bottom: 30px; }

/*TERMINA CONTACTOS*/
/*SERVICIOS*/
#servicios {
  padding-top: 50px;
  padding-bottom: 60px;
  background: black;
  color: white;
  text-align: center;
  font-size: 30px; }
  #servicios .card {
    background: black;
    border-color: yellow;
    border-radius: 10px;
    margin: 15px 15px;
    padding: 15px 0;
    text-align: center;
    color: whitesmoke;
    transition: 0.3s ease-in-out;
    height: 100%; }
    #servicios .card .card-title {
      font-size: 22px;
      font-weight: 600; }
    #servicios .card .card-text {
      font-size: 15px;
      color: black; }
    #servicios .card:hover {
      background: yellow;
      border-color: yellow;
      color: black; }

.product-section {
  display: flex;
  flex-wrap: wrap; }

/*TERMINA SERVICIOS*/
/*FOOTER*/
.footer {
  width: 100%;
  height: 100%;
  padding: 10px 5px 5px 0px;
  background-color: black;
  border-top: 5px double yellow;
  text-align: center;
  justify-content: center; }
  .footer .footerorden {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 0 20px;
    grid-template-areas: "column1 column2 column3 column4" "column1 column2 column3 column4";
    justify-content: space-around;
    align-content: center;
    width: 100%; }
    .footer .footerorden .column1 p, .footer .footerorden .column2 p, .footer .footerorden .column3 p, .footer .footerorden .column4 p {
      font-size: 10px; }

/*TERMINA FOOTER*/
/*MEDIA QUERIES*/
@media (min-width: 769px) {
  .navbar {
    position: relative;
    width: 100%;
    background: #020304;
    left: 0;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 0px;
    z-index: 100;
    transition: 0.8s; }
    .navbar .logo {
      display: block; }
    .navbar .hamburger {
      display: none; }
    .navbar .menu {
      display: flex;
      padding: 20px; } }

@media (min-width: 320px) and (max-width: 768px) {
  .navbar {
    position: relative;
    width: 100%;
    height: 100%;
    background: #020304;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    padding: 0px;
    z-index: 100;
    transition: 0.8s; }
    .navbar .hamburger {
      display: flex; }
    .navbar .menu {
      display: none; }
  /*PRODUCTOS*/
  .galeria {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative; }
    .galeria .foto {
      width: 100vw;
      height: auto;
      justify-content: center;
      align-content: center; }
      .galeria .foto .fotos {
        padding-left: 30px;
        padding-right: 30px;
        width: 50vh;
        justify-content: center;
        align-content: center; }
        .galeria .foto .fotos .fotos1 {
          display: flex;
          justify-content: center;
          align-content: center; }
        .galeria .foto .fotos .fotos2 {
          display: flex;
          justify-content: center;
          align-content: center; }
  .product-section {
    flex-direction: column; } }
