@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  background: black;
  color: white;
  font-family: 'Roboto', sans-serif; }

h4 {
  font-size: 14px; }

/*MENÚ*/
.fadeInDown {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

header {
  height: 100px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header input {
    display: none; }
  header .menu .link {
    text-transform: uppercase;
    transition: 0.4s;
    color: white;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    padding: 0 10px 0 48px;
    text-decoration: none; }
    header .menu .link:hover {
      text-decoration: none;
      color: yellow;
      transition: 0.4s; }
  header .menu .esconder-menu {
    order: 1;
    font-size: 30px;
    display: none;
    transition: 0.4s; }
  header .mostrar-menu {
    order: 1;
    font-size: 30px;
    display: none;
    transition: 0.4s; }

.menu .active {
  text-transform: uppercase;
  transition: 0.4s;
  color: yellow;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  padding: 0 10px 0 48px;
  text-decoration: none; }

#check {
  display: none; }

/*TERMINA MENÚ*/
/*PRODUCTOS*/
.section-header h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 70px; }

.galeria {
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  background-color: black; }
  .galeria .fotos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0 30px; }
    .galeria .fotos .fotos1 {
      display: flex;
      justify-content: center;
      gap: 10px; }
      .galeria .fotos .fotos1 .foto {
        margin: 20px;
        width: 200px;
        height: 200px;
        padding: 10px;
        box-shadow: 0 0 20px yellow;
        transition: .3s; }
        .galeria .fotos .fotos1 .foto:hover {
          transform: scale(1.1); }
    .galeria .fotos .fotos2 {
      display: flex;
      justify-content: center;
      gap: 10px; }
      .galeria .fotos .fotos2 .foto {
        margin: 20px;
        width: 200px;
        height: 200px;
        padding: 10px;
        box-shadow: 0 0 20px yellow;
        transition: .3s; }
        .galeria .fotos .fotos2 .foto:hover {
          transform: scale(1.1); }

/*TERMINA PRODUCTOS*/
/*NOSOTROS*/
#intro {
  padding-top: 70px; }
  #intro .container .row {
    flex-wrap: nowrap; }

/*TERMINA NOSOTROS*/
/*CONTACTO*/
#contacto .container-fluid {
  padding-top: 70px;
  padding-bottom: 70px; }
  #contacto .container-fluid .section-header {
    padding-bottom: 30px; }

/*TERMINA CONTACTOS*/
/*SERVICIOS*/
#servicios {
  padding-top: 50px;
  padding-bottom: 60px;
  background: black;
  color: white;
  text-align: center;
  font-size: 30px; }
  #servicios .card {
    background: black;
    border-color: yellow;
    border-radius: 10px;
    margin: 15px 15px;
    padding: 15px 0;
    text-align: center;
    color: whitesmoke;
    transition: 0.3s ease-in-out;
    height: 100%; }
    #servicios .card .card-title {
      font-size: 22px;
      font-weight: 600; }
    #servicios .card .card-text {
      font-size: 15px;
      color: black; }
    #servicios .card:hover {
      background: yellow;
      border-color: yellow;
      color: black; }

/*TERMINA SERVICIOS*/
/*FOOTER*/
.footer {
  width: 100%;
  height: 100%;
  padding: 10px 5px 5px 0px;
  background-color: black;
  border-top: 5px double yellow;
  text-align: center;
  justify-content: center; }
  .footer .footerorden {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 0 20px;
    grid-template-areas: "column1 column2 column3 column4" "column1 column2 column3 column4";
    justify-content: space-around;
    align-content: center;
    width: 100%; }
    .footer .footerorden .column1 p, .footer .footerorden .column2 p, .footer .footerorden .column3 p, .footer .footerorden .column4 p {
      font-size: 10px; }

/*TERMINA FOOTER*/
/*MEDIA QUERIES*/
@media (min-width: 768px) {
  /*HEADER*/
  /*PRODUCTOS*/
  .galeria {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative; }
    .galeria .foto {
      width: 100vw;
      height: auto;
      justify-content: center;
      align-content: center; }
      .galeria .foto .fotos {
        padding-left: 30px;
        padding-right: 30px;
        width: 50vh;
        justify-content: center;
        align-content: center; }
        .galeria .foto .fotos .fotos1 {
          display: flex;
          justify-content: center;
          align-content: center; }
        .galeria .foto .fotos .fotos2 {
          display: flex;
          justify-content: center;
          align-content: center; } }
