@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  overflow-x: hidden;
  background: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

a {
  color: yellow;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: yellow;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Tiro Devanagari Marathi', serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*MENÚ*/
#menu li > a {
  font-size:18px;
  font-weight:bold;
  color: yellow
}

#menu button {
  font-size: 18px;
  font-weight: bold;

}
/*TERMINA MENÚ*/

/*CAROUSEL*/
.carousel-inner {
  max-height: 39rem;
}
/*TERMINA CAROUSEL*/


/*SERVICIOS*/
  #servicios {
    padding: 60px 0;
    background: black;
  }

  #servicios .card {
    background: black;
    border-color: yellow;
    border-radius: 10px;
    margin: 0 15px;
    padding: 15px 0;
    text-align: center;
    color: black;
    transition: 0.3s ease-in-out;
    height: 100%;
  }
  
  #servicios .card:hover {
    background: yellow;
    border-color: yellow;
  }
  
  #servicios .card h3 {
    font-size: 22px;
    font-weight: 600;
  }
  
  #servicios .card p {
    font-size: 15px;
    color: #fff;
  }
/*TERMINA SERVICIOS*/


/*PRODUCTOS*/
.galeria {
  color: white    ;
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  background-color: black;
}
.fotos {
  padding: 30px 0 30px;
  background-color: black;
}
.foto {
  width: 400px;
  height: 400px;
  padding: 10px;
}
.fotos1 {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.fotos2 {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.fotos3 {
  display: flex;
  justify-content: center;
  gap: 10px;
}
/*TERMINA PRODUCTOS*/

/*CONTACTO*/
/*TERMINA CONTACTO*/

/*FOOTER*/
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: grey;
  border-top: 1px solid black;
  padding: 5px 0;
  text-align: center;
  justify-content: center;
}

.footerorden{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  justify-content: center;
  align-content: space-between;
}

.footercolumn h4 p {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  
}

.footercolumn2  h4 p{
  grid-column-start: 2;
  grid-column-end:3;
  text-align: center;
}

.footercolumn3 h4 p{
  grid-column-start:3;
  grid-column-end:4;
  text-align: center;
}

.footercolumn4 h4 p{
  grid-column-start:4;
  grid-column-end:5;
  text-align: center;
}


/*TERMINA FOOTER*/


/*MEDIA QUERIES PANTALLA SM*/
@media (max-width:768){
  #intro {
    width: 90%;
  }
}

@media screen and (max-width:767px){
  .foto {
      width: 100vw;
      height: auto;
}
  .fotos {
      width: 100vw;
}

  .fotos1 {
      display: block;
}
  .fotos2 {
      display: block;
}
  .fotos3 {
      display: block;
}
}

@media screen and (max-width:430px) {

}

@media screen and (max-width:390px) {
}